[submodule "src/apps/MPK.VsCode.ProfilePicker"]
	path = src/apps/MPK.VsCode.ProfilePicker
	url = https://github.com/vrocky/mpk-tools-vscode-profile-picker.git

[submodule "src/apps/MPK.StickyNotes.ProfilePicker"]
	path = src/apps/MPK.StickyNotes.ProfilePicker
	url = https://github.com/vrocky/mpk-tools-sticky-notes-profile-picker.git

[submodule "src/apps/MPK.AntiGravity.ProfilePicker"]
	path = src/apps/MPK.AntiGravity.ProfilePicker
	url = https://github.com/vrocky/mpk-tools-antigravity-profile-picker.git

[submodule "src/apps/MPK.VsCode.ProjectSearch"]
	path = src/apps/MPK.VsCode.ProjectSearch
	url = https://github.com/vrocky/mpk-tools-vscode-profile-project-search.git

[submodule "src/apps/MPK.StickyNotes.TextSearch"]
	path = src/apps/MPK.StickyNotes.TextSearch
	url = https://github.com/vrocky/mpk-tools-sticky-notes-profile-text-search.git

[submodule "src/apps/MPK.AntiGravity.ProjectSearch"]
	path = src/apps/MPK.AntiGravity.ProjectSearch
	url = https://github.com/vrocky/mpk-tools-antigravity-profile-project-search.git

[submodule "src/launchers/chrome"]
	path = src/launchers/chrome
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-chrome-launch.git

[submodule "src/launchers/edge"]
	path = src/launchers/edge
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-edge-launch.git

[submodule "src/launchers/vscode"]
	path = src/launchers/vscode
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-vscode-launch.git

[submodule "src/launchers/claude"]
	path = src/launchers/claude
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-claude-launch.git

[submodule "src/launchers/sticky-notes"]
	path = src/launchers/sticky-notes
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-sticky-notes-launch.git

[submodule "src/launchers/antigravity"]
	path = src/launchers/antigravity
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-antigravity-launch.git

[submodule "src/shared/MPK.Profile.Core"]
	path = src/shared/MPK.Profile.Core
	url = https://github.com/vrocky/mpk-tools-mpk-profile-common-libs.git

[submodule "legacy/poc/virtual-desktop-poc"]
	path = legacy/poc/virtual-desktop-poc
	url = https://github.com/vrocky/mpk-tools-win-virtual-desktop-poc.git
